.App {
  text-align: center;
  background-color: tomato;
}

nav {
	background-color: lightblue;
	/*height: 50px;*/
	padding: 20px;
}

nav a {
	margin: 20px;
	text-decoration: none;
	color: maroon;
	font-variant: small-caps;
	font-weight: bold;
}

.Smurfs {
	text-align: left;
	border: solid 2px black;
	margin-left: 10%;
}
